<html>
    <head>
        <title>
            Pic-ey
        </title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-lumen.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/pad.css' %}" type="text/css"/>
    </head>
    
    <body>
        <nav class="navbar navbar-light navbar-expand fixed-top bg-dark">
            <a href="/" class="navbar-brand">Pic-Ey 图片分享</a>
        </nav>
    
        <main class="container pad">
            {% block main %}
                这是一个已经发现，但没有具体解决方案的错误。<br />
                遇见这样的错误，你可能只能抱怨你自己不太好运啦。
            {% endblock  %}
            <a href="/" class="btn btn-primary">带我回主页</a>
        </main>
    
        <footer class="container">
            <br /><br /><hr />
            &copy; Copyright 2017 42yeah
        </footer>
    </body>
</html>